@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
}

#profile-picture {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #444;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Apply rounded corners to the profile picture */
.project-photo {
    border-radius: 10px; /* Adjust the value to control the roundness */
    overflow: hidden;
}

/* Apply rounded corners and zoom effect to the project image */
#projects img {
    border-radius: 8px; /* Adjust the value to control the roundness */
    transition: transform 0.3s ease-in-out;
    max-width: 200px; /* Adjust the maximum width */
    max-height: 150px; /* Adjust the maximum height */
}

/* Zoom effect on hover */
#projects img:hover {
    transform: scale(1.1); /* Adjust the scale factor for zoom effect */
}
